/* Définition police */
@font-face
{
	font-family: 'BebasNeue';
	src: url('BebasNeue.otf');
}

/* Titre */
#titre
{
	font-family: 'BebasNeue', Arial, serif;
	font-weight: bold;
	color: white;
	margin-left: 10%;
}

/* Logos */
#logo
{
	width: 15%;
	vertical-align: middle;
	margin-left: 20%;
}

/* /Header */
/* Barre de navigation */
.container-fluid
{
	background-color: #31a8e8;
	color: #ffffff;
}

.container
{
	margin-top: -3%;
	background-color: #9dc4f0;
}

.navbar
{
	opacity: 0.9;
	z-index: 1;
}

.dropdown:hover .dropdown-menu
{
	display: block;
}

#contenu
{
	background: #ffffff;
	min-height: 300px;
	padding-bottom: 15px;
}

footer 
{
	background-color: #31a8e8;
	width: 100%;
}

/*#apercu 
{ 
   width:91%;
   margin-right: auto;
   margin-left: auto;    
}
*/

table
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 70%;
}

th {
	background-color: #31a8e8;
	color: white;
	border: 1px solid black;
}

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

th, td {
	padding: 5px;
	text-align: left;
}

table td 
{
	border: 1px solid black;
}

#img_accueil
{
	max-width: 30%;
}